.hero-showcase-container {
  width: 40vw;
  .empty-showcase-div {
    // max-width: 50%;
    // flex: 0.2;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 10%;
    // align-items: center;
    margin: 0 auto;
    width: 40vw;
    height: 400px;
    > img {
      width: 100%;
      justify-self: center;
      align-self: center;
      height: 100%;
      margin-top: 40%;
    }
    .empty-showcase-text {
      font-size: 24px;
      color: black;
    }
  }
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  height: 80vh;
  .hero-render-div {
    width: 600px;
    height: 80vh;
    > img {
    }
  }
  .hero-detail-div {
    justify-self: center;
    width: 450px;
    min-height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 24px 12px;
    align-items: center;
    .ant-tabs-tab .ant-tabs-tab-btn {
      font-size: 24px;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
    .ant-tabs-tab .ant-tabs-tab-btn:hover {
      color: orange;
    }
    .ant-tabs-ink-bar {
      background-color: orange;
    }
  }
  .hero-profile-img {
    max-width: 300px;
    margin: 0 auto;
    height: 300px;
    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .hero-prop {
    display: flex;
    margin: 16px 0;
    .hero-prop-profile-label,
    .hero-prop-weapon-label,
    .hero-prop-ultimate-label,
    .hero-prop-ability-label {
      //   text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      display: inline-block;
      background-color: orange;
      padding-left: 32px;
      padding-right: 8px;
      color: white;
      font-size: 16px;
      margin: 8px;
      margin-top: 0;
      align-self: center;
      margin-right: 20px;
      transform: skew(-0.25rad);
    }
    .hero-prop-weapon-label,
    .hero-prop-ultimate-label {
      font-size: 14px;
    }
    .hero-prop-profile-value,
    .hero-prop-weapon-value,
    .hero-prop-ultimate-value,
    .hero-prop-ability-value {
      font-family: overwatch;
      flex: 1;
      text-align: right;
      align-self: center;
      font-size: 16px;
      line-height: 16px;
      justify-self: flex-end;
    }
  }
  .hero-ultimate-img,
  .hero-ability-img {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    background-image: url("../../img/ability-background.png");
    > img {
      filter: invert(33%) sepia(10%) saturate(1304%) hue-rotate(191deg)
        brightness(88%) contrast(84%);
    }
  }
  .ant-carousel .slick-dots li button {
    background: orange;
    height: 10px;
    width: 20px;
  }
  .ant-carousel .slick-dots-bottom {
    position: absolute;
    top: 0px;
  }
}
