.hero-showcase-container {
  width: 40vw;
  .empty-showcase-div {
    @media screen and (max-width: 1200px) {
      display: none;
    }
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 10%;
    // align-items: center;
    margin: 0 auto;
    width: 40vw;
    height: 400px;
    > img {
      width: 100%;
      justify-self: center;
      align-self: center;
      height: 100%;
      margin-top: 40%;
    }
    .empty-showcase-text {
      font-size: 24px;
      color: black;
    }
  }
  margin-top: 16px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  .hero-render-div {
    width: 600px;
    height: 80vh;
    > img {
    }
  }
  .hero-detail-div {
    @media screen and (max-width: 460px) {
      width: 360px;
      margin: 0 auto;
    }
    justify-self: center;
    width: 450px;
    margin: 0 auto;
    min-height: 700px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 24px 12px;
    padding-top: 0;
    align-items: center;
    @media only screen and (max-width: 1200px) {
      margin-bottom: 24px;
    }
    .ant-tabs-tab {
      margin: 0;
      padding: 8px 16px;
    }
    .ant-tabs-tab .ant-tabs-tab-btn {
      font-size: 24px;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
    .ant-tabs-tab .ant-tabs-tab-btn:hover,
    .ant-tabs-tab:hover {
      color: orange;
    }
    .ant-tabs-ink-bar {
      background-color: orange;
    }
    .ant-tabs-nav-wrap {
      justify-content: center;
    }
    .ant-tabs-nav-list {
      display: flex;
      justify-content: space-between;
      flex: 0.8;
    }
  }
  .hero-profile-img {
    max-width: 350px;
    margin: 0 auto;
    height: 330px;
    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .hero-quote {
    font-size: 24px;
    color: #6676a9;
  }
  .hero-profile-name {
    margin-top: 16px;
  }
  .hero-ability-name,
  .hero-profile-name,
  .hero-weapon-name,
  .hero-ultimate-name {
    font-size: 26px;

    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: space-evenly;
    > p {
      flex: 1;
    }
    .external-link {
      font-family: sans-serif;
      font-size: 12px;
      flex: 0.2;
    }
  }
  .external-links {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    font-size: 14px;
  }
  .hero-profile-name {
    margin-top: -12px;
  }
  .hero-prop {
    display: flex;
    margin: 16px 0;
    .hero-prop-profile-label,
    .hero-prop-weapon-label,
    .hero-prop-ultimate-label,
    .hero-prop-ability-label {
      //   text-transform: uppercase;
      font-family: sans-serif;
      display: inline-block;
      background-color: orange;
      padding-left: 32px;
      padding-right: 8px;
      color: white;
      font-size: 16px;
      margin: 8px;
      margin-top: 0;
      align-self: center;
      margin-right: 20px;
      transform: skew(-0.25rad);
    }
    .hero-prop-weapon-label,
    .hero-prop-ultimate-label {
      font-size: 14px;
    }
    .hero-prop-profile-value,
    .hero-prop-weapon-value,
    .hero-prop-ultimate-value,
    .hero-prop-ability-value {
      font-family: overwatch;
      flex: 1;
      text-align: right;
      align-self: center;
      font-size: 16px;
      line-height: 16px;
      justify-self: flex-end;
    }
  }
  .hero-weapon-img {
    display: flex;
    justify-content: center;
    > img {
      max-width: 400px;
      max-height: 150px;
      @media screen and (max-width: 460px) {
        max-width: 320px;
      }
    }
  }
  .hero-ultimate-img,
  .hero-ability-img {
    margin-top: 16px;
    width: 130px;
    height: 130px;
    border-radius: 500px;
    margin: 0 auto;
    > img {
      justify-self: center;
      margin: 0 auto;
      margin-top: 24px;
      filter: invert(33%) sepia(10%) saturate(1304%) hue-rotate(191deg)
        brightness(88%) contrast(84%);
      background-image: url("../../img/ability-background.png");
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }
  .ant-carousel .slick-dots li button {
    background: orange;
    height: 10px;
    width: 20px;
  }
  .ant-carousel .slick-dots-bottom {
    position: absolute;
    top: 0px;
  }
}
